<h1>Questions</h1>

<div  class="large-10">
<h3>Add a Question</h3>
  <%= form_for @question do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.submit 'Submit' %>
  <% end %>

</div>

<div>
<ul>
  <% @questions.each do |question| %>
  <li><%= link_to question.title, question_path(question.to_param) %></br></li>
  <% end %>
</ul>
</div>
